<h1>Scrape a Product</h1>

<%= form_with model: (@product || Product.new), local: true do |form| %>
  <div>
    <%= form.label :url, "Product URL" %>
    <%= form.text_field :url, required: true %>
  </div>

  <div>
    <%= form.submit "Scrape and Save Product" %>
  </div>
<% end %>